
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 10px;
    text-align: left;
  }
  
  th {
    background-color: #4CAF50;
    color: white;
    padding: 5px;
    text-transform: uppercase;
  }
  
  tr {
    border-bottom: 1px solid #ddd;
  }
  
  td {
    padding: 5px;
    border: 1px solid #ddd;
  }
  

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  
  tr:hover {
    background-color: #f1f1f1;
  }
  
  @media (max-width: 768px) {
    table {
      font-size: 4px;
    }
  
    th, td {
      padding: 4px;
    }
  }
  